<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:camel="http://camel.apache.org/schema/spring"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
           http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
           http://camel.apache.org/schema/spring http://camel.apache.org/schema/spring/camel-spring.xsd
           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd">
   
    <beans profile="test">
    <!-- Endpoint test setting ???-->
	<bean id="producerQueueEndpoint" class="java.lang.String">
			<description>Producer Queue Endpoint</description>
			<constructor-arg value="mock:demo"/>
	</bean>
	<bean id="consumerQueueEndpoint" class="java.lang.String">
			<description>Consumer Queue Endpoint</description>
			<constructor-arg value="mock:demo"/>
	</bean>
	<bean id="producerS3Endpoint" class="java.lang.String">
		<description>Testing S3 Endpoint</description>
		<constructor-arg value="mock:demo"/>
	</bean>
    </beans>
    
    <beans profile="staging">
    <!-- Endpoint Setting -->
	<bean id="producerQueueEndpoint" class="java.lang.String">
			<description>Producer Queue Endpoint</description>
			<constructor-arg value="aws-sqs://demo?amazonSQSClient=#sqsClient&amp;amazonSQSEndpoint=http://sqs.us-east-1.amazonaws.com"/>
	</bean>
	<bean id="consumerQueueEndpoint" class="java.lang.String">
			<description>Consumer Queue Endpoint</description>
			<constructor-arg value="aws-sqs://demo-reply?amazonSQSClient=#sqsClient&amp;visibilityTimeout=300&amp;deleteAfterRead=true&amp;deleteIfFiltered=false&amp;amazonSQSEndpoint=http://sqs.us-east-1.amazonaws.com"/>
	</bean>
	<bean id="producerS3Endpoint" class="java.lang.String">
		<description>Testing S3 Endpoint</description>
		<constructor-arg value="aws-s3://chloe-test?amazonS3Client=#s3Client&amp;amazonS3Endpoint=s3.amazonaws.com"/>
	</bean>
    </beans>
	
	
    <beans profile="test,staging">
    <bean name="sqsClient" class="com.amazonaws.services.sqs.AmazonSQSAsyncClient">
	     <constructor-arg>
    	     <bean class="com.amazonaws.auth.BasicAWSCredentials">
                <constructor-arg value="#{systemEnvironment['AWS_ACCESS_KEY_ID']}"/>
                <constructor-arg value="#{systemEnvironment['AWS_SECRET_ACCESS_KEY']}"/>
            </bean>
        </constructor-arg>
    </bean>

	<!-- AWS Config for S3 -->
    <bean name="s3Client" class="com.amazonaws.services.s3.AmazonS3Client">
        <constructor-arg>
    	     <bean class="com.amazonaws.auth.BasicAWSCredentials">
                <constructor-arg value="#{systemEnvironment['AWS_ACCESS_KEY_ID']}"/>
                <constructor-arg value="#{systemEnvironment['AWS_SECRET_ACCESS_KEY']}"/>
            </bean>
        </constructor-arg>
    </bean>
    
	<!-- Camel Builder -->
    <camelContext id="camelContext" xmlns="http://camel.apache.org/schema/spring">
    	<!-- Temp disable for jms testing -->
    	<routeBuilder ref="producerRouteBuilder"/>  
    	<routeBuilder ref="consumerRouteBuilder"/> 
    </camelContext>
   
    <bean id="fileDirectory" class="java.lang.String">
  			<constructor-arg value="/Users/fuko/temp/camel/"/>
    </bean> 
	<bean id="fileEndpoint" class="java.lang.String">
			<description>Camel file Endpoint</description>
			<constructor-arg value="file:///Users/fuko/temp/camel/?doneFileName=${file:name}.done&amp;idempotent=true&amp;delete=true"/> 
	</bean>
    
    </beans>
    
	
</beans>