<?xml version="1.0" encoding="UTF-8"?>
<beans 
    xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:util="http://www.springframework.org/schema/util"
    xmlns:cache="http://www.springframework.org/schema/cache"
    xmlns:task="http://www.springframework.org/schema/task"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/util
        http://www.springframework.org/schema/util/spring-util.xsd
        http://www.springframework.org/schema/cache
        http://www.springframework.org/schema/cache/spring-cache.xsd
        http://www.springframework.org/schema/task
        http://www.springframework.org/schema/task/spring-task.xsd">
    
    <!-- Configuration based on different environment -->
            
    <beans profile="test">
        <!-- rest -->
    	<bean id="username" class="java.lang.String">
    		<constructor-arg value="username" />
    	</bean>
    	<bean id="password" class="java.lang.String">
    		<constructor-arg value="password" />
    	</bean>
    	<bean id="httphost" class="org.apache.http.HttpHost">
    		<constructor-arg value="dcs-alpha-ops.sjdc/coc-alpha/rest/api/latest"/>  
    	</bean>
    </beans>
    
    <beans profile="staging">
        <!-- rest -->
    	<bean id="username" class="java.lang.String">
    		<constructor-arg value="#{systemEnvironment['JIRA_USERNAME']}" />
    	</bean>
    	<bean id="password" class="java.lang.String">
    		<constructor-arg value="#{systemEnvironment['JIRA_PASSWORD']}" />
    	</bean>
    	<!--  
    	<bean id="credentials" class="org.apache.http.auth.UsernamePasswordCredentials">
        	<constructor-arg value="#{systemEnvironment['JIRA_USERNAME']}"/>
        	<constructor-arg value="#{systemEnvironment['JIRA_PASSWORD']}"/>
    	</bean>
    	-->
    	<bean id="httphost" class="org.apache.http.HttpHost">
    		<!-- <constructor-arg value="dcs-alpha-ops.sjdc/coc-alpha/rest/api/2"/>
    		<constructor-arg value="80"/>
    		<constructor-arg value="http"/> -->
    		<constructor-arg value="dcs-alpha-ops.sjdc/coc-alpha/rest/api/latest"/> 
    	</bean>
    </beans>
    

</beans>